body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    flex-direction: column;
}

.header {
    height: 70vh;
    background-color: #1F2937;

    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    flex-shrink: 0;
}

.toplinks {
    display: flex;
    align-self: center;
    width: 70%;
    gap: 1em;
    padding: 1em;
    margin-bottom: 6em;
}

.link-one { 
    margin-left: auto;
}

.header-logo {
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: auto;
}

.link-one,
.link-two,
.link-three {
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.hero-area {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 70%;
}


.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5em;
    flex: 1;
}

.button {
    flex-basis: auto;
    background-color: #3882f6;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .2em;
    padding-bottom: .2em;
    border: none;
}

.placeholder {
    background-color: lightslategray;
    text-align: center;
    color: white;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-info {
    display: flex;
    width: 70%;
    align-self: center;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid green;
}

.info-title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 3em;
}